[submodule "extern/sm64ds-decomp"]
	path = extern/sm64ds-decomp
	url = https://github.com/tangosdev/sm64ds-decomp.git
	update = none

[submodule "extern/pokeheartgold"]
	path = extern/pokeheartgold
	url = https://github.com/pret/pokeheartgold.git
	update = none

[submodule "extern/pokediamond"]
	path = extern/pokediamond
	url = https://github.com/pret/pokediamond.git
	update = none

[submodule "extern/pokeplatinum"]
	path = extern/pokeplatinum
	url = https://github.com/pret/pokeplatinum.git
	update = none

[submodule "extern/pmd-sky"]
	path = extern/pmd-sky
	url = https://github.com/pret/pmd-sky.git
	update = none

[submodule "extern/twewy"]
	path = extern/twewy
	url = https://github.com/Yotona/twewy.git
	update = none

[submodule "extern/fe11-us"]
	path = extern/fe11-us
	url = https://github.com/Eebit/fe11-us.git
	update = none

[submodule "extern/atc"]
	path = extern/atc
	url = https://github.com/sasja-san/atc.git
	update = none

[submodule "extern/khdays-decomp"]
	path = extern/khdays-decomp
	url = https://github.com/Yokimitsuro/khdays-decomp.git
	update = none
